.upArrow {
  position: fixed;
  left: 2rem;
  top: 88%;
  opacity: 1;
  cursor: pointer;
  font-size: 40px;
  overflow: hidden;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollLink {
  color: crimson;
  background-color: white;
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

