.infoContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 34px;
  margin-top: 25px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.date {
  color: grey;
}

/* .userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
} */

/* .avatar {
  border-radius: 50%;
  object-fit: cover;
} */

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}

.username {
  font-size: 20px;
  font-weight: 500;
  color: crimson;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 35px;
  /* border: 1px solid grey; */
  padding: 5px;
}

.content {
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  margin-bottom: 20px;
}

@media screen and (max-width: 1536px) {
  /* .title {
    font-size: 20px;
  } */
}
@media screen and (max-width: 1280px) {
  .title {
    /* font-size: 48px; */
  }
}
@media screen and (max-width: 1024px) {
  .infoContainer {
    display: block;
  }
  .imageContainer {
    margin: 0 auto;
  }
  .title {
    font-size: 28px;
    margin: 10px 0 15px;
  }
  .username {
    font-size: 18px;
  }
  .post {
    margin-top: 25px;

  }
}
@media screen and (max-width: 640px) {
  .imageContainer {
    height: 280px;
  }


  .description p{
    font-size: 18px;
  }
}