.detailsContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
  padding-bottom: 10px;
  position: relative;
  width: 100%;

}

.username {
  font-size: 20px;
  font-weight: 500;
  color: crimson;
}

.title {
  margin-top: 25px;
}


.date {
  color: grey;
}

.infoContainer {
  margin-top: 20px;
}


.imageContainer {
  height: 500px;
  width: 55%;
  position: relative;
  float: left;
  margin-right: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  font-size: 16px;
  text-indent: 30px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: justify;
}

.content h3 {
  margin: 10px 0;
}

.tagsContainer{
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 25px 0;
  /* border: 1px solid yellow; */
}

.tagsContainer > * {
  position: absolute;  /* Apply to all direct children */
  left: 0;
  max-width: 100% !important;
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  .detailsContainer {
    margin-top: 15px;
  }

  .infoContainer {
    display: block;
  }

  .imageContainer { 
    margin: 0 auto;
    float: none;
    width: 100%;
  }

  .title {
    margin: 10px 0 15px;
  }

  .username {
    font-size: 18px;
  }

  .contentContainer {
    margin-top: 25px;
    padding: 10px 10px;

  }
}

@media screen and (max-width: 768px) {
  .detailsContainer {
    margin-top: 10px;
  }

  .imageContainer {
    height: 350px;
  }

  
}


@media screen and (max-width: 500px) {

  .imageContainer {
    height: 300px;
  }

  
}

@media screen and (max-width: 430px) {

  .imageContainer {
    height: 235px;
  }

  
}