.container{
  display: flex;
  flex-direction: column;

  background-color: var(--bg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  overflow-y: auto;
  height: 100%;
  padding: 30px 140px;
}

.main_title {
  font-weight: normal;
  text-align: center;
}

.title {
  font-weight: normal;
  font-size: 16px;
  margin: 10px 0;
}

.select {
  font-size: 18px;
  margin: 10px 0;
  padding: 3px 15px;
  width: max-content;
  background-color: var(--bg);
  color: var(--textColor);
  border-radius: 10px;
  border-color: crimson;
}

.select:hover {
  box-shadow: 0 0 5px crimson;
}

.textEditor {
  margin: 20px 0;
  color: var(--textColor);
  /* display: flex;
  gap: 20px;
  height: 700px;
  position: relative; */
  overflow: hidden;
}

/* .button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */

/* .addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
} */

.input{
  padding: 5px 20px;
  font-size: 20px;
  background-color: transparent;
  color: var(--textColor);
  margin: 10px 0;
  width: 100% !important;
}

.input::placeholder{
  color: var(--textColor);
  font-size: 16px;
}
/* 
.publish{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
} */

.return_button {
  color: crimson;
  font-size: 45px;
  position: absolute;
  right: 140px;
  top: 70px;
  background-color: var(--bg);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .container{
    padding: 25px 40px;
  }

  .return_button {
    font-size: 40px;

    right: 40px;
    top: 70px;
  }
}

@media screen and (max-width: 640px) {
  .container{
    padding: 20px 15px;
  }

  .return_button {
    font-size: 30px;

    right: 15px;
    top: 60px;
  }
}