.container{
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: normal;
  font-size: 16px;
  margin: 10px 0;
}

.select {
  font-size: 18px;
  margin: 10px 0;
  padding: 3px 15px;
  width: max-content;
  background-color: var(--bg);
  color: var(--textColor);
  border-radius: 10px;
  border-color: crimson;
}

.select:hover {
  box-shadow: 0 0 5px crimson;
}

.textEditor {
  margin: 20px 0;
  color: var(--textColor);

  overflow: hidden;
}


/* .button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */

/* .addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
} */

.input{
  padding: 5px 20px;
  font-size: 20px;
  background-color: transparent;
  color: var(--textColor);
  margin: 10px 0;
  width: max-content;
}

.input::placeholder{
  color: var(--textColor);
  font-size: 16px;
}

.input:hover {
  box-shadow: 0 0 5px crimson;
}
/* 
.publish{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
} */