:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --textColor: #ffffff;
  --softBg: #1f273a;
  --softTextColor: #ffffff;
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: black;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
  
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  
}

.auth_btn {
  border: none;
  outline: none;
  background-color: var(--bg);
  color: crimson;
  font-size: 20px;
  cursor: pointer;
}

.auth_btn:active {
  font-weight: 600;
}

.button {
  width: 100px;
  border: none;
  border-radius: 10px;
  padding: auto 16px;
  height: 30px;
  background-color: crimson;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
}

.button:hover {
  transform: scale(1.01);
}

.button:active {
  font-weight: 600;
}

.button:disabled{
  background-color: rgba(220, 20, 60, 0.473);
  cursor: not-allowed;
}

.form {
  margin: 10px 0;
}

input {
  background-color: transparent;
  margin: 5px 0;
  color: var(--textColor);
  border-radius: 5px;
  max-width: 600px;
  font-size: 16px;
  padding: 3px 7px;
  border: 1px solid crimson; /* border and border-white */
  outline: none;
}

.input_last {
  margin-bottom: 15px;
}

input::placeholder {
  color: var(--textColor);
  font-size: 14px;
}

input:focus {
  box-shadow: 0 0 5px crimson;
}

input:focus::placeholder {
  color: transparent;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--body-color);
  background-color: var(--bg);
  background-color: #626262;
  /* border-radius: .2rem; */
  border: 1px solid #626262;
}

::-webkit-scrollbar-thumb {
  background-color: var(--softBg);
  border-radius: .2rem;
  height: 60px;
  border: 1px solid #0f172a;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    /* max-width: 1366px; */
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    /* max-width: 1024px; */
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    /* max-width: 768px; */
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    /* max-width: 640px; */
    padding-left: 30px;
    padding-right: 30px;  
  }
  .auth_btn {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    /* max-width: 475px; */
    padding-left: 15px;
    padding-right: 15px;
  }

  


}
/* 
.ql-container{
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: #b3b3b1;
} */