.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 80px;
  /* border-bottom: 0px solid rgba(128, 128, 128, 0.704); */
  /* background-color: rgba(128, 128, 128, 0.1); */
  /* box-shadow: 0 1px 3px rgba(128, 128, 128, 0.704); */
  box-shadow: 0 3px 7px -3px rgba(128, 128, 128, 0.704);
}

.logo {
  border-radius: 50%;
  background-color: white;
  text-align: center;
  width: 60px;
  height: 60px;
}

.title {
  flex: 1;
  text-align: left;
  font-size: 36px;
  font-weight: bold;
  text-indent: 15px;
}

.links {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  flex: 1;
  font-size: 20px;
  justify-content: space-evenly;
}

.link:active {
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .link {
    display: none;
  }
  .container {
    padding: 0 15px;
  }
}