.register {
  margin: 10px auto;
}

.register_title {
  font-size: 16px;
  margin: 20px 0;
  color: var(--textColor);
}

.register_link {
  color: var(--textColor);
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
  background-color: var(--bg);
  border: none;
}

.register_link:active {
  font-weight: 600;
}